
    <h1>Sample App Home</h1>
	
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>borut</p>
<p>markelj</p>
<h3>markelj</h3>
<h1>markelj</h1>

<%= link_to "Sign up now!", signup_path , :class => "signup_button round" %>

	

