<div id="footer" >



<ul class="navigation round">
	<li> <%=link_to "Contact", contact_path %> </li>
	<li> <%=link_to "About", about_path %> </li>
	<li> <%=link_to "News", "http://www.google.com" %> </li>
	<li> <%=link_to "Rails", "http://www.google.com" %> </li>
	
</ul>
</div> 